body{
  font-family: helvetica;
  background-color: bisque;
}

h1{
  text-align: center;
}

.table{
  background-color: aliceblue;
  border-radius: 15px
}

h2{
  text-align: center;
}

table{
  color: darkslategray;
  border: 2px solid darksalmon;
  border-collapse: collapse;
  box-sizing: border-box;
}

th, td {
  border-bottom: 1px solid darksalmon;
  padding: 2px;
}

tr:hover {background-color: lightcoral;}
